#header{
    position : fixed;
    left: 0; 
    top : 0 ; 
    width : 100% ;
    z-index : 10000 ; 

}
.header__inner {
    display : flex ;
    align-items : center; /* 위아래 기준 가운데 정렬 */ 
    justify-content : space-between ; 
    background-color: rgba(116, 99, 99, 1);
    backdrop-filter: blur(15px);
    padding : 1rem; /* 위아래 간격 (16px) */ 
    
    
}
.header__logo {
    /* font-size: 25px;  KMJng vite */ 
    font-size : 1.2rem; 
    text-align : center ; 
    line-height : 1;
    color: white; 

}
.header__logo em{
    font-size: 15px; /* KMJng vite */ 
    display: block; 
    color : white ; 
}
h1 {
    font-weight: 600;
}

.header__logo h1 em {
    font-weight: normal; /* em 태그를 보통 두께로 설정 */
    font-style: italic;  /* 이탤릭체 적용 */
    margin-top: 5px;
    
}



.header__nav li {
    display: inline ; /* 한줄로? */
}
.header__nav li a {
    text-transform: uppercase; /* intro skill site ... */ 
    font-size : 14px; 
    padding : 14px; /* 좌우 간격 */
    position : relative ; 
}

.header__nav li a::before {
    content: '';
    width: calc(100% - 28px); 
    height : 1px; 
    background-color: var(--black) ;
    position: absolute ; 
    left: 14px ; 
    bottom : 10px ;  
    transform: scaleX(0); /* 안보이게 */   
    transition: all 0.3s ; /* 0.3초 delay 효과 */ 

}
.header__nav li a:hover::before{
    transform: scaleX(1); 
}

.header__nav__mobile {
    display : none; 
    width: 40px; 
    height: 40px; 
    cursor: pointer ; 
 
}

.header__nav__mobile span{ /* 줄 */ 
    display: block;
    width: 40px;
    height: 2px;
    background-color: var(--black200);
    margin-top: 19px;
    position: relative;
}
.header__nav__mobile span::before{
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--black200);
    position: absolute;
    right: 0;
    top: 6px;
    transition: width 0.3s;
}
.header__nav__mobile span::after{
    content: "";
    width: 40px;
    height: 2px;
    background-color: var(--black200);
    position: absolute;
    left: 0;
    bottom: 6px;
    transition: width 0.3s;
}

@media (max-width: 800px){ /* 작은화면에서 */ 
    .header__nav {
        display: none; /* 사이즈 작아지면 안보이도록 */
    }
    .header__nav.show{ /* show는 클래스명 */ 
        display: block ; 
    }
    .header__nav.show ul { /* show는 클래스명 */ 
        display: block;
        position: absolute;
        right: 0;
        top: 68px;
        background-color: rgba(116,99,99,1);
        backdrop-filter: blur(15px);
        z-index: 10000;
        min-width: 150px;
        padding: 20px 0;
    }
    .header__nav.show li { 
        display: block ; 
        text-align: right; 
    }
    .header__nav.show li a{ 
        display: inline-block ; 
        padding : 10px; 
    }
    .header__nav.show + .header__nav__mobile span::before {
        width: 20px; /* 줄 눌렀을 때 매이메이션 효과 */ 
    }
    .header__nav.show + .header__nav__mobile span::after {
        width: 20px; 
    }
    .header__nav__mobile{
        display : block ; 
    }
}