#intro {
    height: 70vh;
}
.intro__inner {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding: 16px;
}
.intro__title {
    position: sticky;
    top: 70px; /* 위치 */ 
    left: 0; /* 왼쪽 */ 
    width: 30%; /* 위치 */ 
    height: 5vw;
    font-size: 4vw;
    font-weight: 900;
    line-height: 1.6;
    font-family: var(--mainKor-font);
    text-transform: uppercase;
    color: var(--black100);
    border-bottom: 0.4vw solid var(--black100);
    margin-bottom: 10px;
}
.intro__title em {
    font-size: 2vw;
    font-weight: 400;
    line-height: 2;
}
.intro__text {
    width: 70%;
    margin: 0 auto;
    height: 40vh;
    background-color: var(--subBg100); /* 배경 색 */ 
    padding: 20px; /* 내부 여백 설정 */
    color: var(--black); /* 글꼴 색 */ 
    display: flex;
    /* align-items: flex-start; /* 가운데 정렬 */ 
    justify-content: center; 
    flex-direction: column;
    position: relative;
    font-family: var(--mainNoto-font);
}


.intro__text .text {
    float : right ;
    
    font-size: 2.4vw;
    line-height: 1;
    font-weight: 700;
    

    margin-left: auto; /* 위치 */
    margin-right: 30px; /* 위치 (왼쪽으로 20px만큼 이동)  */
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
    
    z-index: 100;
    transition: all 0.3s;
    
}
.intro__text .text div {
    line-height: 1.5; /* 텍스트 간격을 조절할 값 */
}


.intro__text .img {
    float : left ; /* 이미지를 왼쪽으로 띄움*/ 
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(-50%, -50%); 
    width: 25vh;
    height: 25vh;

    border-radius: 60%;
    overflow: hidden; 
    
    transition: all 0.3s;
}
/* 마우스 커서 효과 */ 
.intro__text:hover .text {
    opacity: 0;
}
.intro__text:hover .img {
    filter: grayscale(0);
}


/* 커서 올리면 보이는 텍스트 */ 
.intro__text .additional-text {
    display: none; /* 일단 숨김 */
    
    float: right;
    
    font-size: 2vw;
    line-height: 1;
    font-weight: 700;

    margin-left: auto; /* 위치 */
    margin-right: 30px; /* 위치 (왼쪽으로 30px만큼 이동) */

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10% ;
    
    z-index: 100;
    transition: all 0.3s;
    
}
.intro__text .additional-text {
    line-height: 1.5; /* 텍스트 간격을 조절할 값 */
}


.intro__text:hover .additional-text {
    display: block; /* 마우스를 올렸을 때 보이도록 함 */
}


@media (max-width: 800px){
    .intro__inner {
        justify-content: center;
    }
    .intro__text .text {
        font-size: 24px;
    }
}
@media (max-width: 320px){
    .intro__title {
        display: none;
    }
}



.img-comma {
    display: none; /* 일단 숨김 */
    width: 150px; /* 원하는 너비 */
    height: 150px; /* 원하는 높이 */
    position: absolute; /* 위치를 조절하기 위해 절대 위치 설정 */
    top: 30px; /* 원하는 상단 여백 */
    right: 40px; /* 원하는 우측 여백 */
    transform: scale(0.5); /* 크기 조절 */
}

.intro__text:hover .img-comma {
    display: block; /* 마우스를 올렸을 때 보이도록 함 */
}