#intro {

    position: absolute;
    top: 50%; /* 부모 요소의 세로 중앙에서 위로 50% */
    left: 50%; /* 부모 요소의 가로 중앙에서 오른쪽으로 50% */
    transform: translate(-50%, -50%); /* 자신의 너비와 높이의 절반만큼 이동하여 정확한 가운데 정렬 */
    width: 80%; /* intro의 너비 설정 */
    max-width: 1800px; /* 최대 너비 설정 */
    height: 50vh; /* intro의 높이를 화면 높이의 50%로 설정 */
    padding: 20px; /* 내부 여백 설정 */
    background-color: blue; /* 배경색 설정 */
    z-index: 2; /* intro가 background 위에 오도록 z-index 설정 */
    display: flex; /* 내부 요소들을 행으로 배치하기 위해 추가 */

}

.inner__left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* 텍스트를 가운데 정렬하기 위해 추가 */
    color: white; /* 내용의 글자색 설정 */
}

.inner__right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* 텍스트를 가운데 정렬하기 위해 추가 */
    color: white; /* 내용의 글자색 설정 */
}

.inner__right p {
    margin-bottom: 10px; /* 단락 사이의 간격 설정 */
    font-size: 24px; /* 기본 글자 크기 설정 */
}

.inner__right .title {
    font-size: 32px; /* 제목 글자 크기 설정 */
    font-weight: bold; /* 제목 글자 굵기 설정 */
}



.inner__right .btn {
    padding: 10px 20px;
    background-color: pink; /* btn1의 배경색 */
    color: white; /* btn1의 글자색 */
    text-decoration: none; /* 링크 밑줄 제거 */
    border-radius: 5px; /* btn1 모서리 둥글게 */
    
}



.inner__right .btn:hover {
    background-color: #2980b9; /* 마우스 오버시 배경색 변경 */
}
