#intro {

    position: absolute;
    top: 50%; /* 부모 요소의 세로 중앙에서 위로 50% */
    left: 50%; /* 부모 요소의 가로 중앙에서 오른쪽으로 50% */
    transform: translate(-50%, -50%); /* 자신의 너비와 높이의 절반만큼 이동하여 정확한 가운데 정렬 */
    width: 80%; /* intro의 너비 설정 */
    max-width: 45vw ;  /* 최대 너비 설정 */
    height: 50vh; /* intro의 높이를 화면 높이의 50%로 설정 */
    padding: 20px; /* 내부 여백 설정 */
    background-color: blue; /* 배경색 설정 */
    z-index: 2; /* intro가 background 위에 오도록 z-index 설정 */
    display: flex; /* 내부 요소들을 행으로 배치하기 위해 추가 */

}

.inner__left {
    justify-content: space-between; /* 위아래로 공간을 균등하게 분배 */
    display: flex;
    flex-direction: column;
    flex: 1; /* 각각의 부분이 동일한 비율로 나뉨 */
    background-color: white; 
}

.inner__left .top__part,
.inner__left .bottom__part {
    
    padding: 10px; /* 내부 여백을 줌 */
    align-items: center;
    justify-content: center;
    text-align: center; /* 텍스트를 가운데 정렬하기 위해 추가 */
    color: white; /* 내용의 글자색 설정 */

    text-align: center; /* 이미지와 텍스트를 중앙 정렬합니다 */
    
}

.inner__left .top__part{
    flex: 2; /* 2:1 */

}
.inner__left .bottom__part{
    flex: 1; /* 2:1 */

}

/* 깃허브, 블로그 아이콘 */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* 원하는 여백 설정 */
}

.social-icons a {
    margin: 0 10px; /* 아이콘들 사이의 여백 조정 */
    font-size: 2rem; /* 아이콘 크기 조정 */
    color: #333; /* 아이콘 색상 */
}

.top__part img {
    display: block; /* 인라인 요소를 블록 요소로 변경합니다 */
    width: 300px; /* 이미지의 너비를 조절합니다 */
    
    height: 300px; /* 높이를 자동으로 조정하여 원래 비율을 유지 */
    border-radius: 50%; /* 이미지를 원형으로 만듭니다 */
    margin: 60px auto 0; /* 이미지 아래 여백을 조절합니다 */
    
}

.line {
    display: inline-block;
    width: 60px; /* 라인의 너비를 조절합니다 */
    height: 1px; /* 라인의 높이를 조절합니다 */
    background-color: red; /* 라인의 색상을 지정합니다 */
    margin: 15px 15px; /* 텍스트와 라인 사이의 간격을 조절합니다 */
}



.inner__right {
    
    flex: 1; /* 각각의 부분이 동일한 비율로 나뉨 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* 텍스트를 가운데 정렬하기 위해 추가 */
    color: white; /* 내용의 글자색 설정 */
}

.inner__right p {
    margin-bottom: 10px; /* 단락 사이의 간격 설정 */
    font-size: 24px; /* 기본 글자 크기 설정 */
}

.inner__right .title {
    font-size: 32px; /* 제목 글자 크기 설정 */
    font-weight: bold; /* 제목 글자 굵기 설정 */
    margin-bottom: 60px; /* 제목을 위쪽으로 10px만큼 올립니다 */
}



.inner__right .btn {
    padding: 10px 20px;
    background-color: pink; /* btn1의 배경색 */
    color: white; /* btn1의 글자색 */
    text-decoration: none; /* 링크 밑줄 제거 */
    border-radius: 5px; /* btn1 모서리 둥글게 */
    margin: 5px; 
}



.inner__right .btn:hover {
    background-color: #2980b9; /* 마우스 오버시 배경색 변경 */
}
