#header { 
    position: fixed;
    z-index: 1000; /* 다른 요소들보다 위에 보이도록 설정 */
    }
#main {
    padding-top: 80px; /* header가 fixed로 인해 화면 위에 겹쳐지므로 내용이 header 아래에 표시될 수 있도록 추가 패딩 설정 */
}
#resume{
    
    position: absolute;
    top: 48%; /* 부모 요소의 세로 중앙에서 위로 50% */
    left: 50%; /* 부모 요소의 가로 중앙에서 오른쪽으로 50% */
    transform: translate(-50%, -50%); /* 자신의 너비와 높이의 절반만큼 이동하여 정확한 가운데 정렬 */
    width: 80%; /* intro의 너비 설정 */
    max-width: 1800px; /* 최대 너비 설정 */
    height: 50vh; /* intro의 높이를 화면 높이의 50%로 설정 */
    padding: 20px; /* 내부 여백 설정 */
    
    z-index: 2; /* intro가 background 위에 오도록 z-index 설정 */
    
    flex-direction: column; /* 세로로 요소들을 배치 */
    align-items: center; /* 가로 정렬을 가운데로 설정 */
}

.resume__title{
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-size: 2.5rem; /* 글자 크기 조정 */
    font-weight: bold; /* 글자 두껍게 설정 */
    margin-bottom: 20px; /* 아래 여백 추가 */
}

.resume__inner {
    flex-direction: column;
    height: 100%;
    width : 100%;
    padding: 16px; /* 내부 콘텐츠와 경계(여기서는 안쪽 여백) 사이의 공간을 설정*/
    display: flex;
    justify-content: space-between;
}

.education, .experience, .license, .skills {
    background-color: #000000; /* 까만색 배경 */
    color: #ffffff; /* 흰색 글씨 */
    padding: 10px; /* 내부 여백 */
    margin-bottom: 80px; /* 아래 여백 */
}


.education h2,.experience h2, .license h2, .skills h2 {
    
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-size: 1.8rem; /* 글자 크기 조정 */
    font-weight: bold; /* 글자 두껍게 설정 */
    margin-top: 20px; 
    margin-bottom: 50px; /* 아래 여백 추가 */
}

.education_1 div, .experience_1 div, .license div, .skills_1 div{
    margin-bottom: 20px; /* 원하는 간격(px)으로 설정 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    font-size: 1.4rem; /* 글자 크기 조정 */
}


